div#grid_container{

}

div.grid_row{

}

div.grid_pixel{
  background: pink;
  border: 0px solid ;
  float: left;
}



div.color_button_row{
  height: 10px;
}

div.color_button{
  background: blue;
  border: 0px solid ;
  float: left;
  width: 10px;
  height: 10px;
}


